@font-face {
    font-family: "OpenSans";
    src: url('../fonts/OpenSans-Semibold.ttf') format('truetype');
}

html,
body {
    margin:0;
    padding:0;
    background-color: #bbe6a7;
    font-family:OpenSans;color:black;
}

.serve,
.joiner {
    border: 2px solid #a1a1a1;
    position: fixed;
    top: 30%;
	left: 50%;
	margin-left: -175px;
    visibility: visible;
    z-index: 2;
    background-color: #ffffff;
    width: 350px;
    height: 300px;
    text-align: center;
}

.serve {
    height: 230px;
}

.joiner {
    visibility: hidden;
    height: 270px;
}

.container {

}

.register {
    border: 2px solid #a1a1a1;
    position: fixed;
    top: 30%;
    left: 50%;
    margin-left: -175px;
    visibility: hidden;
    z-index: 2;
    background-color: #ffffff;
    width: 350px;
    height: 320px;
    text-align: center;
}

#ruser,
#rpass,
#rcpass,
#remail,
#gpass,
#surl,
#gid {
    margin: 0 auto;
    text-align: left;
    border: 1px solid #a1a1a1;
    background: #ffffff;
    border-radius: 0px;
    color: #a8a8a8;
    padding:8px;
    margin-bottom:20px;
    width:280px;
}

#remail,
#gpass {
    margin-bottom:0px;
}

.button4,
.button {
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 10px;
    width: 280px;
    height: 36px;
    background-color: #4cae4c;
    line-height: 36px;
    cursor: pointer;
}

.button2 {
    margin: 0 auto;
    width: 280px;
    height: 36px;
    background-color: #f0ad4e;
    line-height: 36px;
    cursor: pointer;
}

.button3 {
    margin: 0 auto;
    width: 280px;
    height: 36px;
    background-color: #ac3333;
    line-height: 36px;
    cursor: pointer;
}
